* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  font-size: 0.33rem;
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 9;
  /* Fixed dene se cursor multiple page me rhega wran absolute dene par sirf pehele page par hi rah jayga  */
}

#image {
  height: 30vw;
  width: 60vw;
  position: relative;
}

#image img {
  height: 100%;
  width: 100%;
}

#overlay {
  /* background-color: rgba(255, 0, 0, 0.208); */
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
