@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(251, 201, 135);
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(142, 92, 26);
}

#page2 img {
  height: 100%;
  width: 20%;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
